<!DOCTYPE html>

<html class="no-js" lang="en-US">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>

    <!-- Load fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Load vendor css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.1/material.min.css" charset="utf-8">

    <!-- Load app css -->
    <link rel="stylesheet" href="/css/base.css" charset="utf-8">

  </head>

  <body lang="en">

    <h1>DoSelect for Developers</h1>
    <h2>Coming soon.</h2>

    <!-- Load vendor JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.1/material.min.js"></script>

  </body>

</html>
